:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
}

.compare {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.compare > div {
  flex: 1;
}

@media (min-width: 600px) {
  .compare {
    flex-direction: row;
  }
}
