@property --bw {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --bs {
  syntax: "<custom-ident>";
  inherits: false;
  initial-value: none;
}
@property --bc {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}
a {
  border-width: var(--bw);
  border-style: var(--bs);
  border-color: var(--bc);
}
